In [13]:
# Dependencies
import requests
import json
import pandas as pd
import numpy as np

In [10]:
from sodapy import Socrata

ModuleNotFoundError: No module named 'sodapy'

In [102]:
url = "https://data.cdc.gov/resource/n8mc-b4w4.json?res_state=NJ&case_month=2021-01&$limit=20000"

#how to filter for NJ first, date, and then 20000 cases?

In [103]:
response = requests.get(url)
print(response.url)

https://data.cdc.gov/resource/n8mc-b4w4.json?res_state=NJ&case_month=2021-01&$limit=20000

In [104]:
data = response.json()
# Use json.dumps to print the json
#print(json.dumps(data, indent=4, sort_keys=True))

#print data frame

df = pd.DataFrame(data)
df

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn,case_positive_specimen
0,2021-01,NJ,34,MERCER,34021,0 - 17 years,Female,Unknown,Hispanic/Latino,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,No,NaN,NaN
1,2021-01,NJ,34,MERCER,34021,0 - 17 years,Female,Unknown,Hispanic/Latino,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN,NaN
2,2021-01,NJ,34,MERCER,34021,0 - 17 years,Female,Unknown,Hispanic/Latino,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN,NaN
3,2021-01,NJ,34,MERCER,34021,0 - 17 years,Female,Unknown,Hispanic/Latino,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN,NaN
4,2021-01,NJ,34,MERCER,34021,0 - 17 years,Female,Unknown,Hispanic/Latino,0.0,Missing,Missing,Probable Case,Symptomatic,No,Missing,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2021-01,NJ,34,OCEAN,34029,65+ years,Female,White,Non-Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN,NaN
19996,2021-01,NJ,34,CAPE MAY,34009,0 - 17 years,Female,White,Non-Hispanic/Latino,0.0,Missing,Missing,Probable Case,Symptomatic,No,Missing,No,NaN,NaN
19997,2021-01,NJ,34,WARREN,34041,50 to 64 years,Male,Unknown,Missing,NaN,Missing,Missing,Probable Case,Missing,Missing,Missing,No,NaN,NaN
19998,2021-01,NJ,34,OCEAN,34029,65+ years,Female,White,Non-Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Missing,No,Missing,No,NaN,NaN
19999,2021-01,NJ,34,CAPE MAY,34009,0 - 17 years,Female,White,Non-Hispanic/Latino,0.0,Missing,Missing,Probable Case,Symptomatic,No,Missing,No,NaN,NaN

In [106]:
#Total # of cases

num_cases = df["res_state"].count()

df_cases = pd.DataFrame({"Total # of NJ cases in Sample":[num_cases]})
df_cases

   Total # of NJ cases in Sample
0                          20000

In [115]:
#Group by county
#county = df.groupby(['res_state','res_county']).count()

#county = df.groupby(['res_state','res_county']).size()

num_cases_county = df['res_county'].value_counts()

num_cases_county_percentage = (county/ 20000 ) * 100


county_df = pd.DataFrame({"Total # of Cases by County": num_cases_county, "Percentage": num_cases_county_percentage })
county_df.round()

            Total # of Cases by County  Percentage
CAMDEN                            1435         7.0
HUDSON                            1346         7.0
OCEAN                             1176         6.0
CUMBERLAND                        1159         6.0
UNION                             1132         6.0
SALEM                             1109         6.0
MERCER                            1063         5.0
BERGEN                            1025         5.0
BURLINGTON                        1007         5.0
MORRIS                            1003         5.0
HUNTERDON                          946         5.0
SUSSEX                             945         5.0
GLOUCESTER                         926         5.0
CAPE MAY                           904         5.0
ATLANTIC                           897         4.0
WARREN                             896         4.0
PASSAIC                            890         4.0
MIDDLESEX                          719         4.0
MONMOUTH                           527         3.0
SOMERSET                           515         3.0
ESSEX                              380         2.0

In [ ]:
#create a bar chart