In [13]:
# Dependencies
import requests
import json
import pandas as pd
import numpy as np

In [10]:
from sodapy import Socrata

ModuleNotFoundError: No module named 'sodapy'

In [37]:
url = "https://data.cdc.gov/resource/n8mc-b4w4.json?$limit=20000"

#how to filter for NJ first, date, and then 20000 cases?

In [38]:
response = requests.get(url)
print(response.url)

https://data.cdc.gov/resource/n8mc-b4w4.json?$limit=20000

In [39]:
data = response.json()
# Use json.dumps to print the json
#print(json.dumps(data, indent=4, sort_keys=True))

#print data frame

df = pd.DataFrame(data)
df

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,case_positive_specimen,underlying_conditions_yn
0,2020-08,KY,21,GRAYSON,21085,0 - 17 years,NA,NA,NA,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN,NaN
1,2021-01,NC,37,MARTIN,37117,0 - 17 years,NA,NA,NA,NaN,Missing,Unknown,Laboratory-confirmed case,Asymptomatic,No,Unknown,No,0.0,NaN
2,2021-03,VT,50,FRANKLIN,50011,18 to 49 years,NA,NA,NA,0.0,Missing,Yes,Laboratory-confirmed case,Symptomatic,No,Missing,No,0.0,Yes
3,2020-09,GA,13,CATOOSA,13047,0 - 17 years,Female,Unknown,Missing,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN,NaN
4,2021-04,PA,42,CLINTON,42035,0 - 17 years,Female,NA,NA,0.0,Missing,Yes,Laboratory-confirmed case,Symptomatic,No,No,NA,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2020-05,MS,28,FORREST,28035,18 to 49 years,Female,NA,NA,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,NA,NaN,NaN
19996,2020-11,IN,18,GIBSON,18051,18 to 49 years,Female,Missing,Missing,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN,NaN
19997,2020-04,MS,28,HINDS,28049,18 to 49 years,Female,NA,NA,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Unknown,Missing,NA,NaN,NaN
19998,2020-12,MT,30,LAKE,30047,18 to 49 years,Female,NA,NA,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN,NaN
19999,2020-07,GA,13,LOWNDES,13185,18 to 49 years,Female,Unknown,Missing,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,Missing,NaN,NaN

In [40]:
#Total # of cases

num_cases = df["res_state"].count()

df_cases = pd.DataFrame({"Total # of NJ cases in Sample":[num_cases]})
df_cases

   Total # of NJ cases in Sample
0                          20000

In [41]:
#Group by county
county = df.groupby(['res_county'])
county_unique = county.nunique()["county_fips_code"]

df_county = pd.DataFrame({"Total # of Cases by County": [county_unique]})
df_county

                          Total # of Cases by County
0  res_county
ABBEVILLE      1
ACCOMACK       1
A...